<div style="text-align:center;height:60px;width: 100%;background-color:#33b5e5">
  <h1>
    Bienvenue à  {{ title }}!
  </h1>
</div>
  <nav class="navbar navbar-primary bg-info">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a class="navbar-brand" routerLink="auth">Authentification</a></li>
          <li routerLinkActive="active"><a class="navbar-brand" routerLink="appareils">Gestion des Appareils</a></li>
          <li routerLinkActive="active"><a class="navbar-brand" routerLink="edit">Nouvel Appareil</a></li>
          <li routerLinkActive="active"><a class="navbar-brand" routerLink="utilisateurs">Utilisateurs</a></li>
        </ul>
        <div class="navbar-right bg-success">
          <p>Vous êtes connecté depuis {{ secondes }}  !</p>
      </div>
      </div>
    </div>
  </nav>
  
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
