<div class="col-xs-12">
    <h2>Mes Appareils</h2>
    <p>
      Mis à jour : {{lastUpdate | async | date :'fullDate' }} 
    </p>
    <ul class="list-group" *ngFor = "let appareil of appareils; let i = index">
    
        <app-appareil 
            [appareilName]="appareil.name" 
            [appareilStatus] = "appareil.status" 
            [indexOfAppareil]="i"
            [id]="appareil.id"></app-appareil>
        
    </ul>
    <button class="btn btn-success" [disabled]="!allOff" 
            (click)="onAllumerTout()">Tout allumer</button>
    <button class="btn btn-danger" [disabled]="allOff" 
            (click)="onEteindreTout()">Tout éteindre</button>
    <button class="btn btn-primary" (click)="onSave()">Enregistrer</button>
</div>
